	body{
		font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif
		}

	h1,h2,h3,h4,h5,h6{
		font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;

		font-weight:700
	}


	header.masthead{
		position:relative;
		background-color:#083D44;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		padding-top:5rem;
		padding-bottom:21.1rem;
	}

	header.masthead .overlay{
		position:absolute;
		background-color:#212529;
		height:100%;
		width:100%;
		top:0;
		left:0;
		opacity:.3
	}

	header.masthead h1{
		font-size:2rem
	}

	#logo{
		width: 19%;
		height: 10%;
		margin: auto;
		padding: auto;
		margin-top: 8px;

	}

	.bvn{
		padding-top: 11rem;
	}



	.navbar {
		height: 10%;
		width: 10%
		margin: auto;
		padding: auto;
		background-color: rgba(255, 255, 255, 0.9);

	}

	#navbarResponsive{
		width: 50%;
	}

	.btn{
		background: #1CB91C;
		color: #fff;
		width: 180px;

	}

	.btn:hover{
		background: #1CB91C;
		opacity: 0.9;
	}

	.navbar-light .navbar-nav .nav-link{
		color: #23393C;
	}

	.navbar-light .navbar-nav .nav-link:hover{
		color: #23393C;
		opacity: 0.7;
	}

	.rechercher{
		width: 70%;
		margin:auto;
		margin-top: 122px;
	}
	.montrer {
		border: solid 5px rgba(255, 255, 255, 0.5);
		text-align: center;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 20px;
		background-color: #23393C;

	}
	.cacher{
		display: none;
		margin-top: 10px;
	}

	.new-search{
		margin-top: 100px;
	}

	.img{
		max-width: 250px;
	}

	.form-offers{
		margin-left: 100px;
		margin-right: 100px;
	}

	.toggleMore{
		background: #1CB91C;
		color: #fff;
		border-radius: 8px;
		border-style: none;
		width: auto;
	}

	.toggleMore:hover{
		background-color: #fff;
		color: #1CB91C ;
	}

.photo-annonce{
	width: 150px;
}
